/* Reset styles */
body {
    background: linear-gradient(to bottom right, #e63140, #aa5dc6, #552aa0);
    font-family: 'Varela Round', sans-serif;
    margin: 0;
    padding: 0;
}


header {
    text-align: center;
    padding: 50px;
    color: white;
}

header img {
    max-width: 10%;
    position: absolute;
    top: 0;
    left: 0;
}


.contact-content {
    max-width: 600px;
    margin: 0 auto;
    padding: 80px;
    text-align: center;
    color: white;
}

.contact-content h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Varela Round', sans-serif;
}


.form-group {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
    background: rgba(85, 42, 160, 0.8);
    border-radius: 15px;
    text-align: center;
    padding: 15px;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
    color: white;
}

input[type="text"],
input[type="email"],
textarea {
    background-color: #fff;
    height: 30px;
    border-radius: 10px;
    width: 80%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
}

select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: none;
}

button {
    background-color: #a79781;
    color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

button:hover {
    background-color: #ffdddd;
}

textarea {
    height: 200px;
    padding-top: 20px;
}

/* Media query for responsive design */
@media screen and (max-width: 768px) {
    .form-group {
        padding: 20px; 
    }
    .form-group label {
        font-size: 16px; 
    }
    button {
        font-size: 18px; 
    }
}
